<ion-header>
  <ion-toolbar color="secondary">
    <ion-buttons slot="start">
      <ion-back-button text="" defaultHref="/main" (click)="onClickBackButton()"></ion-back-button>
    </ion-buttons>
    <ion-title slot="end" >{{ title }}</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>

  <div class="barcode-container ion-padding">
    <ion-label>{{ barcodeContainerLabel }}</ion-label>
    <ion-input #barcode (ionChange)="changeInputBarcode()"></ion-input>
  </div>

  <app-product-info-viewer></app-product-info-viewer>

</ion-content>


<ion-footer>

  <ion-toolbar button (click)="brokenRegisterModal()" expand="full" fill="solid" color="success" shape="round">
      <span class="ion-justify-content-center">ثبت عملیات</span>
  </ion-toolbar>

</ion-footer>