<ion-header>
  <ion-toolbar color="secondary">
    <ion-title class="ion-text-center">{{ mainPageTitle }}</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content fullscreen class="ion-padding">

  <ion-item button (click)="goTospecificPage('productTracking')">

    <ion-label class="ion-text-right">
      ردیابی محصول
    </ion-label>

    <ion-avatar slot="end">
      <img src="../../assets/images/productTracking.png">
    </ion-avatar>

  </ion-item>

  <ion-item button (click)="goTospecificPage('brokenProduct')" *ngIf=" defaultWorkGroupId === 3 ">

    <ion-label class="ion-text-right">
      ثبت شکست
    </ion-label>

    <ion-avatar slot="end">
      <img src="../../assets/images/brokenProduct.png">
    </ion-avatar>

  </ion-item>

  <ion-item button (click)="goTospecificPage('printLabel')" *ngIf=" defaultWorkGroupId === 9 ">

    <ion-label class="ion-text-right">
      چاپ لیبل
    </ion-label>

    <ion-avatar slot="end">
      <img src="../../assets/images/printLabel.jpg">
    </ion-avatar>

  </ion-item>

</ion-content>


<ion-footer>

  <ion-toolbar color="light">

    <div class="button-operation">
      <ion-button color="danger" (click)="logOut()" shape="round">
        خروج
      </ion-button>
    </div>

  </ion-toolbar>

</ion-footer>