.barcode-container {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
}

.barcode-container ion-input {
  border: 1px solid lightgray;
  margin-top: 10px;
}

.product-attribute-container {
  display: grid;
  grid-template-rows: auto;
  grid-template-columns: auto 90px;
  grid-template-areas: "product-attribute-description product-attribute-label";
  width: 100%;
  padding: 5px 0;
}

.product-attribute-container .product-attribute-label {
  grid-area: product-attribute-label;
  text-align: right;
}

.product-attribute-container .product-attribute-label span {
  white-space: nowrap;
  font-size: 11px;
  font-weight: bold;
}

.product-attribute-container .product-attribute-description {
  grid-area: product-attribute-description;
  text-align: right;
}

.product-attribute-container .product-attribute-description span {
  white-space: pre-wrap;
  font-size: 12px;
  text-justify: inter-word;
}
