<ion-header>
  <ion-toolbar color="secondary">
    <ion-buttons slot="start">
      <ion-back-button text="" defaultHref="/main" (click)="onClickBackButton()"></ion-back-button>
    </ion-buttons>
    <ion-title slot="end" >{{ title }}</ion-title>
  </ion-toolbar>
</ion-header>


<ion-content>

  <div class="barcode-container ion-padding">
    <ion-label>{{ barcodeContainerLabel }}</ion-label>
    <ion-input #barcode (ionChange)="changeInputBarcode()"></ion-input>
  </div>

  <app-product-info-viewer></app-product-info-viewer>

</ion-content>


<ion-footer>

  <ion-toolbar class="ion-padding-horizontal">

    <ion-buttons slot="start">
      <ion-button fill="solid" color="success" (click)="registerPrintLabel()">
        ارسال
      </ion-button>
    </ion-buttons>

    <ion-item slot="primary">
      <ion-input #numberOfLabel inputmode="numeric" type="number" placeholder="تعداد" style="text-align: right;background-color: lightgray;"></ion-input>
    </ion-item>

  </ion-toolbar>

</ion-footer>