<ion-header>
  <ion-toolbar color="secondary">
    <ion-icon size="large" name="close-outline" (click)="dismiss()" class="ion-padding"></ion-icon>
    <ion-title slot="end" >{{ title }}</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">

  <ng-container *ngIf=" breakFormData ">

    <ion-list *ngFor="let item of breakFormData">

      <!-- related to label -->
      <ng-container *ngIf=" item.ObjectType === 1 ">

        <ion-item>
          <ion-label slot="end">{{ item.Caption }}</ion-label>
          <ion-input class="ion-text-right" [value]=" item.DefaultValue " readonly ></ion-input>
        </ion-item>

      </ng-container>
      
      <!-- related to input -->
      <ng-container *ngIf=" item.ObjectType === 2 ">

        <ion-item>
          <ion-label slot="end">{{ item.Caption }}</ion-label>
          <ion-input #numberOfBreak
                     [name]=" item.ID " 
                     class="ion-text-right"
                     inputmode="numeric" 
                     type="number" 
                     [value]="item.DefaultValue"
                     [placeholder]=" item.Caption ">
          </ion-input>
        </ion-item>

      </ng-container>
      
      <!-- related to select -->
      <ng-container *ngIf=" item.ObjectType === 3 ">

        <ion-label class="ion-label-custome">{{ item.Caption }}</ion-label>
        <ion-item>
          <ion-select value=" {{ item.DefaultValue }} " 
                      [placeholder]=" item.Caption "
                      ok-text="انتخاب" 
                      cancel-text="انصراف" 
                      (ionChange)="selectOptions($event, item.ID)">

            <ion-select-option *ngFor="let op of convertToJson(item.Items)" [value]=" op.Code ">
              {{ op.Value }}
            </ion-select-option>

          </ion-select>
        </ion-item>

      </ng-container>

    </ion-list>

  </ng-container>

  <ion-button (click)="sendDataToSever()"
              class="ion-margin-vertical" 
              shape="round"
              fill="solid" 
              expand="block" 
              color="success">
              ثبت
  </ion-button>

</ion-content>