<ion-header> 
  <ion-toolbar color="secondary">
    <ion-buttons slot="start">
      <ion-back-button text="" defaultHref="/main"></ion-back-button>
    </ion-buttons>
    <ion-title slot="end" >{{ title }}</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>

  <div class="barcode-container ion-padding">
    <ion-label>{{ barcodeContainerLabel }}</ion-label>
    <ion-input #barcode></ion-input>
  </div>

</ion-content>

<ion-footer>
  <ion-toolbar>

    <!-- <ion-button class="ion-padding-horizontal" slot="start" size="default" color="warning" (click)="logOut()">خروج</ion-button> -->
    <ion-button class="ion-padding-horizontal" slot="start" size="default" (click)="sendToServer()" >ارسال</ion-button>

    <div class="number-stuff-container">
      <ion-label>تعداد</ion-label>
      <ion-select value="0" okText="انتخاب" cancelText="انصراف">
          <ion-select-option *ngFor="let number of numberOfStuff" [value]="number">{{ number }}</ion-select-option>
      </ion-select>
    </div>

  </ion-toolbar>
</ion-footer>